<h1>{{title }}</h1>
<p>Welcome to {{title }}</p>
{{#each articles}}
<p>{{title}}</p>
<p>{{writer}}</p>
<p>{{contents}}</p>
{{/each}}

Test1
<form action="/articles" method="POST">
	<button type="submit">Submit</input>
</form>